*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
font-family: 'Poppins', sans-serif;
}

.navbar{
display: flex;
align-items: center;
padding: 30px;
}

nav{
flex: 1;
text-align: right;

}

nav ul{
display: inline-block;
list-style-type: none;
}

nav ul li{
display: inline-block;
margin-right: 30px;

}
a{
text-decoration: none;
color: #555;
}

p{
color: #555;
}

.container{
max-width: 1300;
margin: auto;
padding-left: 25px;
padding-right: 25px;

}

.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}

.col-2 {
flex-basis: 70%;
max-width: 400px;
}

.col-2 img{
max-width: 100%;
padding: 50px 0;
}

.col-2 h1{
font-size: 50px;
line-height: 50px;
margin: 25px 0;
}

.btn{
display: inline-block;
background: #ff523b;
color: #fff;
padding: 8px 30px;
margin: 3px 0;
border-radius: 30px;
}

.header{
background: radial-gradient(#fff,#936c6c);
}

.header .row{
margin-top: 100px;
}

.categories{
margin: 70px 0;
}

.col-3{
flex-basis: 30%;
min-width: 100px;
margin-bottom: 70px;
}

.col-3 img{
width: 100%;
}

.small-container{
max-width: 1080px;
margin: auto;
padding-left: 25px;
padding-right: 25px;
}

.col-4{
flex-basis: 25%;
padding: 10px;
min-width: 200px;
margin-bottom: 50px;
transition: transform 0.5s;
}

.col-4 img{
width: 100%;
}

.title{
text-align: center;
position: relative;
margin: 0 auto 50px;
line height: 60px;
color: #555;
}


h4{
color: #555;
font-weight: normal;
}


.col-4 p{
font-size: 15px;
}

.rating .fa{
color: #ff523b;
}


.col-4:hover{
transform: translateY(-5px); 
]


.row-2{
justify-content: space-between;
margin: 100px auto 50px;
}


select{
border: 1px solid #ff523b;
padding: 5px;

}

select:focus{
outline: none;
}

/*------------------------single details-----------------------*/


.single-product{

margin-top: 80px;
}

.single-product .col-2 img{
padding: 0;
}

.single-product .col-2{
padding: 20px;
}

.single-product select{
display: block;
padding: 10px;
margin-top: 20px;
}

.single-product input{
width: 50px;
height: 40px;
padding-left: 10px;
font-size: 20px;
margin-right: 10px;
border: 1px solid #ff523b;

}


.srow{
display: flex;
justify-content: space-between;
}

.scol{
flex-basis: 24%;
cursor: pointer;
}
